* {
  box-sizing: border-box;
}

/* Landing Page */
.splash {
  background-image: url('http://www.placecage.com/c/1400/600');
  background-repeat: no-repeat;
  background-position: top;
  bottom: 0;
}

/* Header */
header {
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #465765;
  height: 15vh;
}

.logo {
  color: #dbdbdb;
}
.logo:hover {
  color: #ffffff;
  text-decoration: none;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  text-align: right;
  background-color: #465765;
  height: 10vh;
  margin-top: 50px;
  bottom: 0;
}

.legal {
  color: #dbdbdb;
  margin-left: 15px;
}

/* Index.html */
.movie-list-item > td {
  padding: 0;
}

#new-movie {
  margin-top: 25px;
}

/* Show.html */
.show-page {
  text-align: center;
}
.movie-poster {
  height: 60vh;
}

/* Edit.html */
.movie-edit {
  /*text-align: center;*/
}

#edit-movie {
  margin-left: 50px;
  width: 50%;
}
